<form method="post" action="/processing">
    <h1>Value 1: <input type="number" name="n1"> </h1>
    <h1>Value 2: <input type="number" name="n2"> </h1>
    <button type="submit">Add</button>
    <input type="text" disabled name="sum">
</form>